beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click>=8.0
DateTime==4.3
Flask==2.1.0
idna==2.10
itsdangerous>=2.0
Jinja2==3.0
lxml==4.6.3
MarkupSafe==2.0.0rc2
pandas==1.2.3
python-dateutil==2.8.1
pytrends==4.7.3
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
urllib3==1.26.4
Werkzeug==2.0
zope.interface==5.3.0
psycopg2