<html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div style="width:100%;">
  <br>
  <center> <button type="button" onclick="location.href='/'", class="'btn btn-primary btn-sm"> Home </button> </center>
  <canvas id="naver"></canvas>
  <canvas id="google"></canvas>
  <canvas id="yhat"></canvas>
</div>


<script>
new Chart(document.getElementById("naver"), {
    type: 'line',
    data: {
        labels: [
          {% for date_date in date %}
            "{{ date_date }}",
          {% endfor %}
         ],
        datasets: [{
            label: '{{ word }}',
            data: [
            {% for search_count in count %}
              "{{ search_count }}",
            {% endfor %},
            ],
            borderColor: "rgba(255, 201, 14, 1)",
            backgroundColor: "rgba(255, 201, 14, 0.5)",
            fill: true,
            lineTension: 0
        }]
    },

    options: {
        responsive: true,
        title: {
            display: true,
            text: 'Naver Datalab',
            fontSize : 20,
            padding: 20,
        },

        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: ''
                   }
                }],
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,
                },
                scaleLabel: {
                    display: true,
                    labelString: ''
                }
            }]
        }
    }
}),

new Chart(document.getElementById("google"), {
    type: 'line',
    data: {
        labels: [
          {% for date in google_date %}
            "{{ date }}",
          {% endfor %}
         ],
        datasets: [{
            label: '{{ word }}',
            data: [
            {% for count in google_count %}
              "{{ count }}",
            {% endfor %},
            ],
            borderColor: "rgba(255, 201, 14, 1)",
            backgroundColor: "rgba(255, 201, 14, 0.5)",
            fill: true,
            lineTension: 0
        }]
    },
    options: {
        responsive: true,
        title: {
            display: true,
            text: 'Google DataLab',
            fontSize : 20,
            padding: 20,
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: ''
                }
            }],
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,
                },
                scaleLabel: {
                    display: true,
                    labelString: ''
                }
            }]
        }
    }
}),

new Chart(document.getElementById("yhat"), {
    type: 'line',
    data: {
        labels: [
          {% for date in yhat_date %}
            "{{ date }}",
          {% endfor %}
         ],
        datasets: [{
            label: '{{ word }}',
            data: [
            {% for count in yhat_count %}
              "{{ count }}",
            {% endfor %},
            ],
            borderColor: "rgba(170, 50, 220, .6)",
            backgroundColor: "rgba(255, 201, 14, 0.5)",
            fill: true,
            lineTension: 0
        }]
    },
    options: {
        responsive: true,
        title: {
            display: true,
            text: 'Naver Predict Value',
            fontSize : 20,
            padding: 20,
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: ''
                }
            }],
            yAxes: [{
                display: true,
                ticks: {
                    suggestedMin: 0,
                },
                scaleLabel: {
                    display: true,
                    labelString: ''
                }
            }]
        }
    }
});


</script>

</html>